<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Projects/style.css' %}">
    <meta charset="UTF-8">
    <title>List Employees</title>
    <style>
        body {
            background: white url("{% static 'Projects/images/list.jpg'%}"); /*req*/
            background-size: 100%;
        }
    </style>

</head>
<body>
    <div class="logo">
        <a href="http://localhost:8000"><img src="https://i.ibb.co/g3zbkwC/Webp-net-resizeimage-1.png" ></a>
    </div>

            <nav>
                <ul>
                    <li><a href="http://localhost:8000">Home</a></li>
                    <li><a href="http://localhost:8000/ListEmployees/">All Employees</a></li>
                    <li><a href="http://localhost:8000/ListUnAssigned/">UnAssigned Employees</a></li>
                    <li><a href="http://localhost:8000/projects">Projects</a></li>
                </ul>
            </nav>

</body>
</html>