<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Employees/style.css' %}">
    <meta charset="UTF-8">
    <title>Employee Not Registered</title>
</head>
<body>
    <div class="logo">
        <a href="http://localhost:8000"><img src="https://i.ibb.co/g3zbkwC/Webp-net-resizeimage-1.png" ></a>
    </div>

            <nav>
                <ul>
                    <li><a href="http://localhost:8000">Home</a></li>
                    <li><a href="http://localhost:8000/employees">Employees</a></li>
                    <li><a href="http://localhost:8000/projects">Projects</a></li>
                    <li><a href="http://localhost:8000/match">Matching</a></li>
                    <li><a href="http://localhost:8000/">Reports</a></li>
                    <li><a href="http://localhost:8000/">Sign in</a></li>
                    <li><a href="http://localhost:8000/">Sign up</a></li>
                </ul>
            </nav>



<h1>Employee with this ID is not Registered or Deleted</h1>
<form action="http://localhost:8000/"><input type="submit" value="HOME" /></form>
</body>
</html>